@charset "utf-8";
/* CSS Document */




body{
	margin:0;
	padding:0;
	background-color:#FFC;
}
	


h1{
	font-size:3rem;
	text-align:center;
	font-family: "M PLUS Rounded 1c";
}

.text1{
	 text-align:center; 
	 font-size:0.8rem;
}



iframe{
	background-color:#FFF;
	width:750px;
	border:#6C0 solid 10px;
	border-radius:50px;
	margin:0 auto;
	height:700px;		
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
	padding:0;
}


#start_btn{
	width:304px;
	height:108px;
	margin:0 auto;
	padding:10px 0 70px 0;
}

#start_btn a{
	background-image:url(start.png);
	background-repeat:no-repeat;
	width:304px;
	height:108px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	font-size:2.7rem;
	display: table-cell;
  	vertical-align: middle;
	font-family: "Noto Sans JP";
	text-indent:1em;
}
	
#start_btn a:hover{
	opacity:0.7; 
}

footer{
	text-align:center;
	font-size:0.8rem;
}


#frame_menu{
	width:700px;
	margin:0 auto;
	
}

#frame_menu li{
	float:left;
	list-style-type:none;
	margin:5px 0px 5px 20px;
	font-family: "M PLUS Rounded 1c";

}

#frame_menu a{
	background-image:url(../kigou/images/iframe_btn3.png);
	background-repeat:no-repeat;
	width:140px;
	height:47px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	font-size:1rem;
	display: table-cell;
  	vertical-align: middle;
}

#frame_menu a:hover{
	opacity:0.7; 
}